// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// mine
$main: #1f7a8c;
$light-main: #58a9bc;
$dark-main: #004e5f;
$secondary: #9cf6f6;
$light-secondary: #d0ffff;
$dark-secondary: #69c3c3;
$contrast: #e68b16;
